/*This will things about Name and intro-section and award*/
.name-row {
    margin-bottom: 1.3rem;
}

.name-row h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
    margin-left: 20px;
}

.first-name { 
    /* color: #e7cdcd;  */
    /* color: #f8fafc;  */
    color: #e9d5ff;
    font-weight: 400;
    animation: colorchanges 3s infinite alternate;
    --start-color: #f8fafc;
    /* --mid-color: red; */
    --mid-color: #e7cdcd;
    --end-color: #e9d5ff;
}

.last-name { 
    /* color: #a71ee9;  */
    color: #fb7185;
    /* color: #d946ef; */
    font-weight: 800;
    text-shadow: 0 0 15px rgba(168, 85, 247, 0.3); /* Subtle glow */
    animation: colorchanges 3s infinite alternate;
    --start-color: #d946ef;
    --mid-color: #a71ee9;
    --end-color: #fb7185;
}

.designation-badge {
    display: inline-block;
    background: rgba(88, 166, 255, 0.1);
    /* color: #c61d4f; */
    color: #c084fc;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    border: 1px solid rgba(88, 166, 255, 0.2);
    margin-left:40px;
}

/* Awards */
.skill-heading {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: #8b949e;
    text-transform: uppercase;
    margin: 2.5rem 0 1rem;
    border-bottom: 1px solid #30363d;
    padding-bottom: 5px;
}

.award-items { list-style: none; }
.award-items li { font-size: 0.9rem; margin-bottom: 10px; }

@keyframes colorchanges {
    0% {
        color: var(--start-color, rgb(255, 255, 255, 0));
    }
    50% {
        color: var(--mid-color, white);
    }
    100% {
        color: var(--end-color, white);
    }
}

@media (max-width: 800px) {
    .name-row{
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
}
