/*This will things about Name and intro-section and award*/
.name-row {
    margin-bottom: 1.5rem;
}

.name-row h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

.first-name { color: #ffffff; font-weight: 400;}
.last-name { color: #58a6ff; font-weight: 800; }

.designation-badge {
    display: inline-block;
    background: rgba(88, 166, 255, 0.1);
    color: #58a6ff;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    border: 1px solid rgba(88, 166, 255, 0.2);
}

/* Awards */
.skill-heading {
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: #8b949e;
    text-transform: uppercase;
    margin: 2.5rem 0 1rem;
    border-bottom: 1px solid #30363d;
    padding-bottom: 5px;
}

.award-items { list-style: none; }
.award-items li { font-size: 0.9rem; margin-bottom: 10px; }