/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*shows contain in a box type not till full width*/
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif; /* Using Google's font for similarity on all devices*/
    background: #0d1117;
    color: #c9d1d9;
    /* line-height: 1.6 provides optimal vertical spacing for readability */
    /* line-height: 1.6; */
}

/* portfolio Wrapper */
.portfolio-wrapper {
    display: flex; /* want profile and exp section in parallel for big screens*/
    width: 100%;
    height: 100vh;
}

/* Profile side Styling */
.profile-sidebar {
    width: 360px;
    background-color: #161b22;
    flex-shrink: 0; /*Keeps width constant */
    height: 100vh;
    padding: 3rem 2rem;
    border-right: 1px solid #30363d; /* A think white line as a border */
    overflow-y: auto; /* Internal scroll if content grows */
}

.profile-sidebar h1 {
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.profile-sidebar p {
    color: #8b949e;
}

/* Main Content Styling */
.experience-sidebar {
    flex-grow: 1;
    height: 100vh;
    padding: 4rem;
    overflow-y: auto;
    background-image: radial-gradient(circle at 2px 2px, #30363d 1px, transparent 0);
    background-size: 40px 40px; /* Subtle grid background */
}

.placeholder-content h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}