.experience-header {
    margin-bottom: 3rem;
    position: relative;
}

.experience-header h2 {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 800;
}

.title-work { color: #58a6ff; }
.title-projects { color: #ffffff; padding-left: 10px; }
.title-separator { color: #8b949e; font-size: 1.2rem; margin: 0 5px; }

.header-line {
    width: 100%;
    height: 1px;
    background: #30363d;
    margin-top: 15px;
}